 @import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200&family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Lexend Zetta', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*CSS index*/
header {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}

.logo {
    width: 110px;
    height: 110px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0;
    padding: 0;
}

.nav a{
    display: block;
    margin: auto;
    list-style: none;
}

#contact {
    align-items: center;
    background-color: #e6bd43;
    width: 90px;
    height: 35px;
    padding: 0.5rem;
}

#contact h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
} 

.bilde_section {
    position: relative;
    width: 100%;
    height: 400px;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
}

.inner h1 {
    padding-top: 1rem;
}

.inner p {
    padding-bottom: 1rem;
    margin: 1rem;
}

#a_our_services{
    display: flex;
    text-align: center;
    background-color: #e6bd43;
    font-weight: 700;
    padding: 0.8rem;
    width: fit-content;
}

#bilde_header {
    position: absolute;
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.4;
}

#video {
    display: none;
}

#subheading {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

#about_our_company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    padding: 1rem;
    height: auto;
    background-color: #e6bd43;
    margin: auto;
}

#img_placeholder_index {
    width: 90%;
    height: 20%;
    max-width: 400px;
    max-height: 400px;
    padding: 1.5rem;
}

#about_our_company h2 {
    width: fit-content;
    height: fit-content;
}

#about_our_company p {
    padding: 1rem;
    margin: 0.5rem;
    max-width: 250px;
}

#about_our_company_a {
    outline-style: solid;
    outline-color: black;
    font-weight: 700;
    padding: 1rem;
    max-height: 25px;
}

.our_services {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.our_services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    margin: auto;
}

.our_services article h4 {
    padding: 0;
    margin: 0;
}

.our_services i {
    padding: 1rem;
    font-size: xx-large;
}

#newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin: auto;
    background-color: #efefef;
}

#newsletter h2 {
    text-align: center;
    width: 100%;
}

#email {
    height: 40px;
    width: 150px;
    border: none;
}

#sumbit {
    background-color: #e6bd43;
    height: 42px;
    width: 150px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0.5rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #252525;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    justify-content: center;
    list-style: none;
    margin: 1.5rem;
    padding: 0;
}

footer h3 {
    color: white;
    font-weight: 300;
}

footer i {
    color: white;
}

/*CSS products*/

.bilde_section_products {
    position: relative;
    width: 100%;
    height: 400px;
}

.bilde_section_products h1 {
    position: relative;
    text-align: center;
    justify-content: center;
    top: 180px;
    bottom: 180px;
}

#explore {
    display: flex;
    padding: 1rem;
    margin: 2rem;
    width: 100%;
    border-style: solid;
    border-width: 0 0 medium 0;
    justify-content: left;
    border-color: #e6bd43;
}

.btn_product a {
    display: inline-block;
    margin: 2rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-weight: 700;
    padding: 1rem;
    max-height: 25px;
    width: fit-content;
}

#section_branding {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: auto;
}

#branding_h2 {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    border-style: solid;
    border-width: 0 0 medium 0;
    justify-content: left;
    border-color: #e6bd43;
}

.products_img {
    width: 100%;
    height: 100%;
    max-width: 350px;
    min-width: 200px;
}

#section_branding article {
    padding: 1rem;
    margin: 1rem;
}

#section_design {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: auto;
}

#design_h2 {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    border-style: solid;
    border-width: 0 0 medium 0;
    justify-content: left;
    border-color: #e6bd43;
}

#section_design article {
    padding: 1rem;
    margin: 1rem;
}

#section_development {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: auto;
}

#development_h2 {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    border-style: solid;
    border-width: 0 0 medium 0;
    justify-content: left;
    border-color: #e6bd43;
}

#section_development article {
    padding: 1rem;
    margin: 1rem;

}

/*CSS about*/

#about_header {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/12/22/17/business-2846221_1280.jpg");
    /*Se kilde nummer 2 på dokument for bilde*/
}

#about_header {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin: 0;
}

#about_header article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: 3rem;
    background: rgba(212, 212, 212, 0.8);
}

#about_header h6 {
    padding: 1rem;
    margin: 0.5rem;
}

#about_header h4 {
    padding: 1rem;
    margin: 0.5rem;
}

#about_header p {
    padding: 1rem;
    margin: 0.5rem;
}

#about_header a {
    display: flex;
    background-color: #e6bd43;
    margin: 2rem;
    padding: 1.5rem;
    font-weight: 700;
    max-height: 25px;
    width: fit-content;
}

#clients {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    background-color: #e6bd43;
}

#clients h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    width: 100%;
}

.clients_img {
    height: 25%;
    width: 25%;
    max-width: 150px;
    max-height: 150px;
    padding: 1rem;
}

#contact_us {
    background-color: #efefef;
    padding: 1rem 1rem;
}

#contact_us h2 {
    display: flex;
    justify-content: center;
}

#contact_us article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}


#contact_us_article2 p {
    max-width: 70%;
}

#contact_us_name {
    height: 40px;
    max-width: 480px;
    border: none;
}

#contact_us_sub {
    height: 40px;
    max-width: 480px;
    border: none;
}

#message {
    border: none;
    max-width: 480px;
    min-width: 200px;
}


@media only screen and (min-width:515px) {
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    main {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    footer {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 1rem;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        gap: 1rem;
        padding: 1rem;
        margin: 1rem;
    }
    
    #contact {
        background-color: #e6bd43;
        width: 90px;
        height: 35px;
        padding: 0.5rem;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
    }

    /*CSS index*/

    #video {
        position: absolute;
        width: 100%;
        max-width: 1600px;
        height: 250px;
        object-fit: cover;
    }

    #about_our_company {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        text-align: left;
        padding: 1rem;
        height: auto;
        background-color: #e6bd43;
        margin: auto;
    }

    #img_placeholder_index {
        display: flex;
        width: 100%;
        height: auto;
    }

    #about_our_company p {
        padding: 1rem;
        margin: 0.5rem;
        max-width: 50%;
        min-height: fit-content;
    }

    #about_our_company_a {
        padding: 1rem;
        max-height: 25px;
        width: max-content;
    }

    .our_services h2 {
        width: 100%;
    }

    .our_services {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        margin: 1rem;
    }

    .our_services article {
        width: 25%;
        gap: 1rem;
    }

    #newsletter{
        align-items: center;
    }

    /*CSS portfolio*/

    .products_img {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-width: 692px;
        min-width: 200px;
    }

    #section_branding h5 {
        width: 100%;
    }

    #branding_1 {
        flex-basis: auto;
        flex-grow: 1;
    }
    #branding_2 {
        flex-basis: auto;
        flex-grow: 1;
    }
    #branding_3 {
        flex-basis: auto;
        flex-grow: 1;
    }
    #branding_4 {
        flex-basis: auto;
        flex-grow: 1;
    }

    #section_design h5 {
        width: 100%;
    }

    #design_1 {
        flex-basis: auto;
        flex-grow: 1;
    }
    #design_2 {
        flex-basis: auto;
        flex-grow: 1;
    }
    #design_3 {
        flex-basis: auto;
        flex-grow: 1;
    }

    #section_branding h5 {
        width: 100%;
    }

    #dev_1 {
        flex-basis: auto;
        flex-grow: 2;
    }

    #dev_2 {
        flex-basis: auto;
        flex-grow: 2;
    }

    /*CSS about*/

    #about_header {
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        padding: 0.5rem;
        margin: 0;
    }

    #about_header article {
        width: 40%;
    }

    #contact_us {
        width: 100%;
        display: flex;
    }

    #contact_us h2 {
        display: flex;
        position: absolute;
        width: 100%;
        height: fit-content;
    }

    #contact_us article{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 0;
    }

    #contact_us_article1 {
        display: flex;
        gap: 1rem;
        padding-top: 5rem;
        width: 50%;
        justify-content: flex-start;
    }

    #contact_us_article2 {
        display: flex;
        padding: 1;
        padding-top: 5rem;
        gap: 1rem;
        width: 50%;
        justify-content: flex-end;
    }

    #contact_us_article2 p {
        max-width: 60%;
    }

}