 @import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200&family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Lexend Zetta', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    font-size: 18px;
}

#grid-container {
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*CSS index*/
header {
    text-align: center;
    width: 100%;
}

#logo {
    width: 130px;
    height: 130px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0;
    padding: 0;
}

.nav a{
    display: block;
    margin: auto;
    list-style: none;
}

#contact {
    align-items: center;
    background-color: #e6bd43;
    width: 90px;
    height: 35px;
    padding: 0.5rem;
}

#contact h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
} 

#bilde_section {
    position: relative;
    width: 100%;
    height: 400px;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.inner {
    position: relative;
    text-align: center;
    justify-content: center;
}

.inner h1 {
    padding: 1rem;
}

.inner p {
    padding: 1rem;
    margin: 1rem;
}

#a_our_services{
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #e6bd43;
    height: auto;
}

#bilde_header {
    position: absolute;
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.4;
}

#video {
    display: none;
}


@media only screen and (min-width:700px) {
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    main {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    footer {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #video {
        position: absolute;
        width: 100%;
        max-width: 1600px;
        height: 250px;
        object-fit: cover;
    }
}