 @import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200&family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Lexend Zetta', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

header, main, footer {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*CSS index*/
header {
    /*display: flex;*/
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav {
    /*display: flex;*/
    display: block;
    margin: auto;
    list-style: none;
    justify-content: center;
}

.nav{
    /*display: flex;*/
    display: block;
    margin: auto;
    list-style: none;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
} 

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

.inner {
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    justify-content: center;
}

#bilde_header {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#video {
    display: none;
}



@media only screen and (min-width:700px) {
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    main {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    footer {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #video {
        position: absolute;
        width: 100%;
        max-width: 1600px;
        height: 250px;
        object-fit: cover;
    }
}